Repository mym0404/react-native-tosspayments-v2: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, typecheck

lint:js:
  run: yarn eslint --cache --max-warnings=0 {staged_files}

typecheck:
  run: yarn tsc --noEmit

chore: unconscious commit
  .eslintcache
  README.md
  package.json
  src/html/TossPaymentsV2WidgetHtml.ts
Due: typecheck

chore: unconscious commit
  package.json
Due: none

chore: release 0.0.2
  package.json
Due: none

chore: unconscious commit
  README.md
Due: none

chore: unconscious commit
  example/src/App.tsx
  src/component/TossPaymentsV2Widget.tsx
  src/html/TossPaymentsV2WidgetHtml.html
  src/html/TossPaymentsV2WidgetHtml.ts
  src/util/useStableCallback.ts
Due: lint:js, typecheck

chore: unconscious commit
  .eslintcache
  src/component/TossPaymentsV2Widget.tsx
Due: lint:js, typecheck

chore: unconscious commit
  .eslintcache
  .gitignore
Due: none

chore: unconscious commit
  .github/workflows/ci.yml
Due: none

chore: unconscious commit
  .github/actions/setup/action.yml
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
Due: none

chore: unconscious commit
  yarn.lock
Due: none

chore: unconscious commit
  example/src/App.tsx
  package.json
  src/component/TossPaymentsV2Widget.tsx
  src/html/TossPaymentsV2WidgetHtml.html
  src/html/TossPaymentsV2WidgetHtml.ts
  yarn.lock
Due: lint:js, typecheck

chore: release 0.0.3
  package.json
Due: none

chore: unconscious commit
  example/src/App.tsx
  src/component/TossPaymentsV2Widget.tsx
  src/html/TossPaymentsV2WidgetHtml.html
  src/html/TossPaymentsV2WidgetHtml.ts
Due: lint:js, typecheck

chore: release 0.0.5
  package.json
Due: none

chore: unconscious commit
  src/component/TossPaymentsV2Widget.tsx
  src/html/TossPaymentsV2WidgetHtml.html
  src/html/TossPaymentsV2WidgetHtml.ts
Due: lint:js, typecheck

chore: release 0.0.6
  package.json
Due: none

chore: unconscious commit
  package.json
  src/component/TossPaymentsV2Widget.tsx
  src/index.tsx
  yarn.lock
Due: lint:js, typecheck

chore: release 0.0.7
  package.json
Due: none

chore: unconscious commit
  src/component/TossPaymentsV2Widget.tsx
Due: lint:js, typecheck

chore: release 0.0.8
  package.json
Due: none

Path conditions:
  lint:js: any of: *.{js,ts,jsx,tsx}, but not: Html\.ts$
  typecheck: any of: *.{ts,tsx}
